body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #efefef;
}

#shortner-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: linear-gradient(to right, #8f94fb, #4e54c8);
  padding: 30px;
  min-height: 200px;
  border-radius: 20px;
  color: #fff;
}

form {
  width: 100%;
  margin-top: 25px;
}

#url-input {
  width: 100%;
  padding: 15px;
  border-radius: 30px;
  margin-top: 15px;
}

#shortner-button {
  width: 100%;
  border-radius: 30px;
  margin-top: 10px;
  padding: 15px;
  color: #fff;
  font-size: 18px;
  transition: background 300ms;
  background-color: #aaa;
}

#shortner-button:not(:disabled) {
  cursor: pointer;
  background-color: #216eb6;
}

#shortner-button:hover:not(:disabled) {
  background-color: #1e61a0;
}

#new-url-container {
  text-align: center;
  margin-top: 25px;
}

#new-url-container p {
  font-size: 14px;
}

#new-url-container #url {
  font-size: 22px;
  font-weight: 600;
  user-select: all;
}